# {{ ansible_managed }}
---
version: "3"

networks:
  resolver-internal:
    driver: bridge
    ipam:
      config:
        - subnet: "192.168.48.0/29" # static network configuration needed since bind9 upstream can't be a hostname
          gateway: "192.168.48.1"
{% if activate_webinterfaces %}
  resolver-external:
    driver: bridge
{% endif %}

{% if activate_https %}
volumes:
  traefik-certs:
{% endif %}

services:
  bind9:
    container_name: bind9
    image: cytopia/bind:0.35
    environment:
      - DNS_FORWARDER=192.168.48.3 # use Pi-hole as upstream
{% set a_records = ['ns.' ~ dns_zone ~ '=' ~ ansible_facts['default_ipv4']['address']] %}
{% if activate_webinterfaces %}
{% if activate_traefik_dashboard %}
{% set null = a_records.append('traefik.ns.' ~ dns_zone ~ '=' ~ ansible_facts['default_ipv4']['address']) %}
{% endif %}
{% if activate_pihole_webgui %}
{% set null = a_records.append('pihole.ns.' ~ dns_zone ~ '=' ~ ansible_facts['default_ipv4']['address']) %}
{% endif %}
{% endif %}
{% for host in hosts %}
{% set null = a_records.append(host['name'] ~ '.' ~ dns_zone ~ '=' ~ host['addr']) %}
{% endfor %}
{% for record in additional_a_records|default([]) %}
{% set null = a_records.append(record) %}
{% endfor %}
      - DNS_A={{ a_records|join(', ') }}
{% set ptr_records = [ansible_facts['default_ipv4']['address'] ~ '=' ~ 'ns.' ~ dns_zone] %}
{% for host in hosts %}
{% if '*' not in host['name'] %}
{% set null = ptr_records.append(host['addr'] ~ '=' ~ host['name'] ~ '.' ~ dns_zone) %}
{% endif %}
{% endfor %}
      - DNS_PTR={{ ptr_records|join(', ') }}
{% if cname_records|default([])|length > 0 %}
      - DNS_CNAME={{ cname_records|join(', ') }}
{% endif %}
      - ALLOW_QUERY={{ allowed_clients }}
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    networks:
      resolver-internal:
        ipv4_address: "192.168.48.2"
    restart: unless-stopped
  pihole:
    container_name: pihole
    image: pihole/pihole:2024.07.0
{% if activate_webinterfaces %}
{% if activate_pihole_webgui %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=Host(`pihole.ns.{{ dns_zone }}`)"
      - "traefik.http.routers.pihole.service=pihole" # manual service config to address the correct port
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
{% if allow_pihole_cors|default('')|length > 0 %}
      - "traefik.http.middlewares.pihole-cors.headers.accesscontrolalloworiginlist={{ allow_pihole_cors }}"
      - "traefik.http.routers.pihole.middlewares=pihole-cors"
{% endif %}
{% if activate_https %}
      - "traefik.http.routers.pihole.tls=true"
      - "traefik.http.routers.pihole.tls.certresolver=certresolver"
      - "traefik.http.routers.pihole.entrypoints=websecure"
{% else %}
      - "traefik.http.routers.pihole.entrypoints=web"
{% endif %}
{% endif %}
{% endif %}
    environment:
{% if activate_webinterfaces %}
{% if activate_pihole_webgui %}
{% if pihole_webgui_password|default('')|length > 0 %}
      WEBPASSWORD: "${PI_HOLE_PW}"
{% endif %}
      VIRTUAL_HOST: "pihole.ns.{{ dns_zone }}"
{% endif %}
{% endif %}
      PIHOLE_DNS_: "192.168.48.4" # use dnscrypt-proxy as upstream
      WEBTHEME: default-dark
      DNSMASQ_LISTENING: local
      FTLCONF_LOCAL_IPV4: "{{ ansible_facts['default_ipv4']['address'] }}"
      FTLCONF_BLOCK_ICLOUD_PR: "true" # prevent Apple devices from bypassing Pi-hole https://docs.pi-hole.net/ftldns/configfile/#icloud_private_relay
      FTLCONF_MOZILLA_CANARY: "true" # prevent Firefox from bypassing Pi-hole https://docs.pi-hole.net/ftldns/configfile/#mozilla_canary
      FTLCONF_PIHOLE_PTR: NONE
    networks:
{% if activate_webinterfaces %}
{% if activate_pihole_webgui %}
      resolver-external:
{% endif %}
{% endif %}
      resolver-internal:
        ipv4_address: "192.168.48.3"
    dns:
      - 192.168.48.4 # use dnscrypt-proxy for in-container resolution
    volumes:
      - './pihole/etc:/etc/pihole'
      - './pihole/dnsmasq:/etc/dnsmasq.d'
    restart: unless-stopped
  dnscrypt-proxy:
    image: klutchell/dnscrypt-proxy:2.1.4
    container_name: dnscrypt-proxy
    networks:
      resolver-internal:
        ipv4_address: "192.168.48.4"
    volumes:
      - './dnscrypt-proxy/dnscrypt-proxy.toml:/config/dnscrypt-proxy.toml:ro'
    restart: unless-stopped
{% if activate_webinterfaces %}
  traefik:
    image: "traefik:v2.10"
    container_name: "traefik"
{% if additional_traefik_environment_vars|default([])|length > 0 %}
    environment:
{% for var in additional_traefik_environment_vars %}
      - "{{ var.name ~ '=${' ~ var.name ~ '}' }}"
{% endfor %}
{% endif %}
    command:
      - "--log.level={{ traefik_log_level|default('ERROR') }}"
{% if activate_traefik_dashboard %}
      - "--api.dashboard=true"
{% endif %}
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network={{ docker_compose_project.stdout }}_resolver-external"
      - "--entrypoints.web.address=:80"
{% if activate_https %}
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.certresolver.acme.storage=/certs/acme.json"
{% for param in additional_traefik_cli_params %}
      - "{{ param }}"
{% endfor %}
{% endif %}
{% if activate_traefik_dashboard %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.ns.{{ dns_zone }}`) && PathPrefix(`/`)"
      - "traefik.http.routers.dashboard.service=dashboard@internal"
      - "traefik.http.routers.api.rule=Host(`traefik.ns.{{ dns_zone }}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.api.service=api@internal"
{% if activate_https %}
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.certresolver=certresolver"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.routers.api.tls.certresolver=certresolver"
{% else %}
      - "traefik.http.routers.dashboard.entrypoints=web"
      - "traefik.http.routers.api.entrypoints=web"
{% endif %}
{% if (traefik_user|default('')|length > 0) and (traefik_password|default('')|length > 0) %}
      - "traefik.http.middlewares.traefik-auth.basicauth.users={{ traefik_basic_auth.stdout }}"
      - "traefik.http.routers.dashboard.middlewares=traefik-auth"
      - "traefik.http.routers.api.middlewares=traefik-auth"
{% endif %}
{% endif %}
    ports:
      - "80:80"
{% if activate_https %}
      - "443:443"
{% endif %}
    networks:
      resolver-external:
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
{% if activate_https %}
      - "traefik-certs:/certs"
{% endif %}
    restart: unless-stopped
{% if activate_record_list_service %}
  record-service:
    image: nginx:1.24.0
    container_name: record-service
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.record-service.rule=Host(`ns.{{ dns_zone }}`)"
{% if activate_https %}
      - "traefik.http.routers.record-service.entrypoints=websecure"
      - "traefik.http.routers.record-service.tls=true"
      - "traefik.http.routers.record-service.tls.certresolver=certresolver"
{% else %}
      - "traefik.http.routers.record-service.entrypoints=web"
{% endif %}
    networks:
      resolver-external:
    volumes:
      - ./record-service/www:/usr/share/nginx/html
      - ./record-service/config/yaml-mime-type.conf:/etc/nginx/conf.d/yaml-mime-type.conf:ro
    restart: unless-stopped
{% endif %}
{% endif %}
